$component-name: 'c-card';
.#{$component-name} {
  --padding: 30px;
  --color: #323232;
  --width: calc(70vw - (var(--padding) * 2));
  --width-maximize: calc(var(--width) + 30vw);
  --height-maximize: calc(100vh - ((var(--padding)/2) + var(--padding)));
  width: var(--width);
  padding: var(--padding);
  padding-bottom: calc(var(--padding)/2);
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba($color: #323232, $alpha: 0.6);
  font-size: x-large;
  transition: ease .3s;
  @include breakpoint(700) {
    width: calc(var(--width) + 20vw)
  }
  &--maximize {
    width: var(--width-maximize);
    height: var(--height-maximize);
    border-radius: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    .#{$component-name}__editor {
      width: calc(var(--width-maximize));
      height: var(--height-maximize);
    }
  }
  &__editor {
    --height: 150px;
    --height-maximize: 100vh;
    min-height: var(--height);
    max-height: 80vh;
    overflow-y: scroll;
    display: flex;
    flex-flow: column;
    div {
      margin: 5px 0;
    }
  }
}