.l-app {
  width: 80vw;
  color: rgb(17, 17, 17);
  max-width: 740px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 10px 10px #ddd;
  padding: 40px;
  margin: 65px auto 45px;
  border-radius: 4.5px;
  text-align: left;
}