$layout-name: 'l-app';
.#{$layout-name} {
  width: 100vw;
  height: 100vh;
  color: #32323A;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  &--maximize {
    width: 100vw;
    height: 100vh;
  }
}